body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    text-align: justify;
}

h1 {
    
    padding: 10px;
    margin-top: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

h2 {
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid black;
}

h3 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
    margin-top: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
}

p {
    padding: 0 45px;
    padding-top: 5px;
    text-indent: 15px;
}

figure {
    background-color: #F2EDED;
    border: 8px groove #ccc;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

figcaption {
    font-style: italic;
    margin: 10px;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

ul li {
    margin-left: 40px;
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}
/*
.anuncio {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: blue;
    background-color: #B0C4DE;
    margin-top: 20px;
}
*/
ul li {
    padding-top: 3px;
}

